:root {
  --white: #fff;
  --black: #000;
  --red: #ff4d4f;
  --green: #47c58a;
  --gray: #e3ecef;
  --blue-primary: #056fff;
  --blue-hover: #0151ff;
  --blue-light: #f2f6fd;
  --stroke: #e9e9ed;
  --text-primary: #04060b;
  --text-secondary: #94a6af;
  --text-heading: #04060b;
  --text-input: #464444;
  --border: #dbd6d6;
  --border-secondary: #e2e2e2;
  --border-input: #cdcdcd;
  --border-accordion: #e4e4e4;
  --border-check: #000;
  --border-account: #d9d9d9;
  --primary-bg: #f7f9fb;
  --secondary-bg: #ffffff;
  --shadow: #1526390a;
  --light-gray: #f4f4f4;
  --dark-gray: #333333;
  --primary-color: #4e9fdd;
  --box-shadow: rgba(0, 0, 0, 0.1); /* Легкая тень */
}
